<div class="list-block" ng-controller="UsersListCtrl">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Desc</th>
            <th>Comments amount</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in usersList">
            <td>
                <a ng-href="#/list/{{user.user_id}}" class="btn btn-primary">{{user.user_id}}</a>
            </td>
            <td>{{user.name}}</td>
            <td>{{user.description}}</td>
            <td>{{user.comments_amount}}</td>
        </tr>
        </tbody>
    </table>
</div>